<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Form</title>
</head>
<body>

<div id="app">
  <form @submit.prevent="login">
    <label for="username">Username:</label>
    <input type="text" id="username" v-model="user" required>
    
    <label for="password">Password:</label>
    <input type="text" id="password" v-model="pass" required>
    
    <button type="submit">Login</button>
  </form>
  <hr>
  <form @submit.prevent="getUser">
  <h2>Verifica user</h2>
    <button type="submit">user</button>
  </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<script>
new Vue({
  el: '#app',
  data: {
    user: '',
    pass: ''
  },
  methods: {
    login() {
      const formData = new URLSearchParams();
      formData.append('user', this.user);
      formData.append('pass', this.pass);

/*
const requestOptions = {
    method: 'POST',
    credentials: 'include',
    redirect: 'follow',
    mode: 'no-cors',
    headers: {
        'Content-Type': 'application/x-www-form-urlencoded',
    },
    body: formData,
};
*/

      const requestOptions = {
        method: 'POST',
        credentials: 'include',
        redirect: 'follow',
       //  mode: 'no-cors',
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded',
          },
        body: formData,
      };
      
      fetch("https://rafalopez.ar/v1/login", requestOptions)
    //    .then(response => response.json())
        .then(response => response.text())
        .then(data => {
          console.log('Respuesta del servidor:', data);
        })
        .catch(error => {
          console.error('Error:', error);
        });
    },
 getUser() {
            const requestOptions = {
                method: 'GET',
                credentials: 'include',
                redirect: 'follow',
                mode: 'cors'
            };

            fetch("https://rafalopez.ar/v1/user", requestOptions)
                .then(response => {
                    // Imprimir las cookies de la respuesta
                    console.log('Cookies de la respuesta:', response.headers.get('Set-Cookie'));
                    console.log(response);
                    return response.text();
                })
                .then(result => console.log(result))
                .catch(error => console.log('error', error));
        }
    }
  }
});
</script>

</body>
</html>
