
footer{
    height: 10%;
    width: 100%;  
    opacity: 80%;  
    display:flex;
    position: fixed;
    color:aliceblue;
    align-items: center;
    justify-content: center;    
    background-color: rgb(7, 20, 92);    
}