
RewriteEngine On
# Ejemplo de configuración para manejar solicitudes OPTIONS
RewriteCond %{REQUEST_METHOD} OPTIONS
RewriteRule ^(.*)$ $1 [R=200,L]
#DirectoryIndex api.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ api.php [QSA]
ErrorDocument 404 /error-404.html 